{% extends "./base.html" %}
{% block title %}OnlyFlans - Quienes somos{% endblock %}
{% block content %}
{% load static %}
<div class="album py-5">
    <div class="container">
      <h1 class="text-center my-5">QUIENES SOMOS</h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/bg.jpg' %}" alt="">
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste neque in, quae culpa ipsa inventore ullam odit a incidunt pariatur saepe facere dolore illo consectetur, deleniti provident unde, magni eos.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/about.jpg' %}" alt="">
            <div class="card-body">
              <p class="card-text">Nostrum at voluptatem libero voluptatum culpa dicta dolorum obcaecati commodi expedita id perspiciatis autem consequuntur similique, velit cupiditate. Ipsam amet quidem exercitationem.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/intro.jpg' %}" alt="">
            <div class="card-body">
              <p class="card-text">Perferendis harum iusto quaerat, fuga molestiae repudiandae, blanditiis voluptatum maxime optio enim tempora itaque nam odit ut repellendus ipsum asperiores, amet corrupti.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}