<div class="album py-5">
  <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for flan in flans %}
          <div class="col">
              <div class="card shadow-sm">
                  <img src="{{ flan.image_url }}" class="card-img-top" alt="{{ flan.name }}">
                  <div class="card-body">
                      <h5 class="card-title fs-3">{{ flan.name }}</h5>
                      <p class="card-text text-body-secondary">{{ flan.description }}</p>
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Receta</button>
                          </div>
                          <small class="text-body-secondary">9 mins</small>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</div>
